@media screen and (min-width: 1024px){
  header {
    width: 100%;
    padding: 0.5em;
    justify-content: space-between;
  }

  .invisibleHome{
    height: 1em;
  }

  #aboutUsLink{
    height: 0em;
  }

  .logo img {
    height: 3em;
    margin-left: 2em;
  }
  

  ul.navItems{
    overflow:visible;
  }

  .openMenu{
    display: none;
  }

  ul{
    flex-direction:row;
    align-items: center;
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    padding: 0.25em 0;
    margin: 0 3em;
    text-align: center;
    width: 10em;
    border: 1px;
    background-color: rgb(154, 32, 185);
    border-radius: 0.5em;
    box-shadow: 0 0.25em 1.25em .09em rgba(0, 0, 0, 0.173);
    transition: margin 100ms;
  }

  nav ul li:hover{
    scale: 105%;
    margin: 0 5em;
  }
  
  nav ul li a {
    display: inline;
    font-size: 1em;
    text-shadow: 0 .25em .25em .25em rgba(0, 0, 0, 0.12)inset;
    color: #fff;
  }

  .talkToUs{
    transition: 200ms opacity ease;
    transition: 200ms scale ease;
    height: 2.75em;
    color: rgb(255, 255, 255);
    width: 14em;
    left: 83%;
    padding: 0 0.438em;
  }

  .talkToUs:hover{
    scale: 90%;
  }

  .containerMessageIcon{
    margin: 0;
    width: 3em;
  }


  #home{
    position: relative;
    width: 100%;
    max-height: 50%;
    display: flex;
    justify-content: center;
    margin-top: 3.4em;
    flex-direction: column;
  }

  .containerHome2{
    background-color: rgba(0, 0, 0, 0.671);
    width: 100vw;
    height: 80vh;
    justify-content: center;
    align-items: center;
    padding: 0 18em;
  }

  .nameHome{
    font-size: 5em;
    text-align: center;
    color: #fff;
    -webkit-text-stroke: .02em black;
  }
  
  .descriptionHome{
    width: 95%;
    font-size: 1.25em;
    padding: 0 1em 3em  1em;
    font-weight: 600;
  }

  .buttonDownload{
    width: 10em;
    height: 3em;
    background-color: rgb(255, 209, 3);
    border-radius: 2em;
    display: flex;
    justify-self: end;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
  }
  .buttonDownload p{
      font-weight: 700;
      font-size: larger;
      text-align: center;
  }

  #AboutUs{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0;
  }

  .containerAboutUs1{
    flex-direction: row;
    flex-wrap: wrap;
    rotate: 25deg;
    margin: 8em 0 8em 5em;
    min-width: 45em;
    max-width: 45em;
  }

  .containerAboutUs1 div{
    width: 18em;
    height: 19em;
    padding: .5em;
    margin: 0.6em;
    border-radius: 1em;
    rotate: -25deg;
    scale: 80%;
  }

  .containerAboutUs1 div:hover{
    scale: 90%;
  }

  .containerAboutUs1 div h3{
    font-size: 1.3em;
  }

  .txtAboutsUs{
    font-size: .8em;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    text-align: center;
  }

  .paddResSoc{
    padding: .2em 1em;
  }
  
  .paddResAmb{
    padding: 1.7em 1em;
  }

  .paddMision{
    padding: 6em 1em;
  }
  
  .paddVision{
    padding: 4.48em 1em;
  }

  .containerAboutUs2{
    min-width: 24em;
    max-width: 25em;
    height: 17.5em;
    margin-bottom: 9em;
    border-radius: 1em;
    display: flex;
  }

  .containerAboutUs2 h3{
    font-size: 2em;
    text-align: center;
    margin-bottom: 0em;
    color: #fff;
    -webkit-text-stroke: .03em #000;
  }

  #Images{
    height: 35em;
    width: 98vw;
  }

  .containerImages{
    margin-top: 7.5%;
    background-color: rgba(163, 159, 159, 0.303);
    max-width: 80%;
    height: 30em;
    border-radius: 1.5em;
  }
  .containerImages div{
    width: 30em;
    height: 20em;
  }

  .containerImages div a{
    font-size: 1.5em;
    left: 38%;
  }

  .containerVolant{
    top: 5%;
    left: 20%;
  }

  .containerBrochure{
    top: 10%;
    left: 26.5%;
  }

  .containerCatalogue{
    top: 15%;
    left: 33%;
  }

  .containerPresentationCards{
    top: 20%;
    left: 39.5%;
  }

  .containerVolant h2{
    right: 65.2%;
    top: 37.8%;
    padding: 0.2em 4.65em;
    font-size: 1.5em;
  }

  .containerBrochure h2{
    right: 65.2%;
    top: 37.8%;
    padding: 0.2em 4.95em;
    font-size: 1.5em;
  }

  .containerCatalogue h2{
    right: 65.2%;
    top: 37.8%;
    padding: 0.2em 4.3em;
    font-size: 1.5em;
  }
  
  .containerPresentationCards h2{
    padding: .25em 3.599em;
    font-size: 1.5em;
  }

  main{
    margin-bottom: 7em;
  }

  footer{
    height: 20em;
    justify-content: space-evenly;
    padding: 3em 0 2em 0;
  }

  .address{
    width: 35%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  
  .address p{
    color: #fff;
    font-size: 1em;
    padding: 0 .5em;
  }
  
  iframe{
    position: relative;
    width: 280px;
    height: 250px;
    border: 0;
    margin: 1em;
    transition: scale 100ms linear;
    border-radius: 5%;
    filter: opacity(50%);
  }

  iframe:hover{
    scale: 110%;
    filter: opacity(100%);
  }
  
  .socialMedia{
    width: 30%;
  }
  
  .socialMedia div{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  
  .socialMedia a{
    width: 3em;
  }

  .socialMedia a img{
    width: 3em;
  }
}
