*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  --primaryColor: rgb(155, 32, 185);
  --secondaryColor: rgb(255, 196, 0);
}
body{
  background-color: rgba(255, 196, 0, 0.158);

}

.invisibleHome{
  height: 11.5em;
}

header {
  width: 100%;
  top: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--secondaryColor);
  padding: 1.5em 0;
  box-shadow: 0 0.25em 1.25em 0em rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.logo img {
  height: 8em;
}

.logo img:hover{
  cursor: pointer;
}

ul.navItems{
  height: 0;
  overflow: hidden;
}

#navigation:target .navItems{
  height: 12em;
}

.close{
  display: none;
}

#navigation:target .open{
  display: none;
}

#navigation:target .close{
  display: block;
}

.openMenu{
  position: relative;
  display: flex;
  flex-direction: column;
}

.rectangleMenu{
  width: 5em;
  height: 1em;
  margin-bottom: 5%;
  border-radius: 5em;
  background-color: var(--primaryColor);
}

#navigation{
  width: 15em;
  display: flex;
  flex-direction: column;
  align-items: end;
}

#navigation a{
  text-decoration: none;
}

.xCloseMenu{
  position: relative;
  height: 9em;
  margin: 0 5em 1em;
  border-radius: 5em;
}

.squareXCloseMenuLeft{
  position: absolute;
  width: 4em;
  height: 1em;
  background-color: var(--primaryColor);
  margin: 4.5em 0.9em;
  rotate: 45deg;
  border-radius: 5em;
}

.squareXCloseMenuLeft2{
  position: absolute;
  width: 4em;
  height: 1em;
  background-color: var(--primaryColor);
  margin: 5em 0.9em;
  rotate: -45deg;
  animation: blur 2s infinite;
  border-radius: 5em;
}

.squareXCloseMenuRight{
  position: absolute;
  width: 4em;
  height: 1em;
  background-color: var(--primaryColor);
  margin: 4.5em 1.4em;
  rotate: -45deg;
  border-radius: 5em;
}

.squareXCloseMenuRight2{
  position: absolute;
  width: 4em;
  height: 1em;
  background-color: var(--primaryColor);
  margin: 5em 1.4em;
  rotate: 45deg;
  animation: blur 2s infinite;
  border-radius: 5em;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul{
  text-decoration: none;
  color: #000000;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

nav ul li {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  align-items: flex-end;
  transition: scale 100ms linear;
  cursor:pointer;
}

nav ul li a {
  text-decoration: none;
  display: flex;
  font-size: 1.8em;
  font-weight: 800;
  color: #000;
}

nav ul li:hover{
  scale: 105%;
}

.talkToUs{
  left: 88%;
  bottom: 5%;
  cursor: pointer;
  border: 0.063em solid rgba(0, 0, 0, 0.05);
  transition: 200ms opacity ease;
  position: sticky;
  overflow: hidden;
  display: flex;
  box-shadow: 0 0.25em 1.25em 0.25em rgba(0, 0, 0, 0.12);
  animation: button-fade-in 200ms ease 0s;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--primaryColor);
  height: 5em;
  color: transparent;
  border-radius: 2.625em;
  width: 5em;
}

.containerMessageIcon{
  width: 4em;
  height: 3em;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 0.5em;
  margin-left: 25%;
}

.rectangleMessageIcon{
  width: 2.3em;
  height: 1.4em;
  background-color: white;
  border-radius: 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
}

.circleMessageIcon{
  width: 0.25em;
  height: 0.3em;
  background-color: var(--primaryColor);
  border-radius: 50%;
}

.triangleMessageIcon{
  width: 0;
  height: 0;
  border-right: 0em solid transparent;
  border-top: 0em solid transparent;
  border-left: 0.5em solid transparent;
  border-bottom: 0.5em solid white;
  rotate: 180deg;
}

.containerMessageIcon p{
  display: none;
}

@keyframes button-fade-in{
  0% {
      opacity: 0;
      transform: translate(0%, 20%);
  }
  100% {
      opacity: 1;
      transform: translate(0%, 0%);
  }
}

#home{
  position: relative;
  width: 100%;
  max-height: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column ;
}

.containerHome1{
  position: relative;
  display: flex;
  width: 100%;
  max-height: 100%;
  background-image: url(https://raw.githubusercontent.com/sebcar336/web-page-exaicfes/main/img/backgroundHome.png);
  background-size:cover;
  background-position: center;
}

.containerHome2{
  background-color: rgba(0, 0, 0, 0.671);
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 80vh;
  justify-content: center;
  align-items: center;

}

.nameHome{
  font-size: 10em;
  text-align: center;
  color: #fff;
  -webkit-text-stroke: .02em black;
}

.descriptionHome{
  width: 95%;
  font-size: 2em;
  text-align: justify;
  padding: 0 1em 3em  1em;
  font-weight: 600;
  color: #fff;
  -webkit-text-stroke: .03em black;
}

a{
  text-decoration: none;
}

.buttonDownload{
  width: 25em;
  height: 6em;
  background-color: var(--secondaryColor);
  border-radius: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0em;
  box-shadow: 0 0.25em 1.25em 0.25em rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: scale 100ms linear;
}

.buttonDownload:hover{
  scale: 108%;
}

.buttonDownload p{
  font-weight: 700;
  font-size: 3em;
  text-align: center;
  color: #000000;
}

#AboutUs{
  position: relative;
  width: 100%;
  max-height: 50%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-top: 13em;
}

.containerAboutUs1{
  display: flex;
  flex-direction: column;
}

.containerAboutUs1 div{
  background-color: var(--primaryColor);
  width: 50em;
  height: 43em;
  padding: 1em;
  margin-bottom: 4em;
  display: flex;
  flex-direction: column;
  border-radius: 2em;
  transition: scale 200ms linear;
}

.containerAboutUs1 div:hover{
  scale: 105%;
  box-shadow: 0 0.25em 1.25em 0em rgba(0, 0, 0, 0.5);
}

.containerAboutUs1 div h3{
  font-size: 3.5em;
  text-align: center;
  color: #fff;
  -webkit-text-stroke: .03em #000;
}

.txtAboutsUs{
  background-color: var(--secondaryColor);
  font-size: 2em;
  text-align: center;
  padding: .5em 1em;
  border-radius: 0.5em;
  font-weight: 600;
}

.paddResSoc{
  padding: 0em 1em;
}

.paddResAmb{
  padding: 1.5em 1em;
}

.paddMision{
  padding: 5em 1em;
}

.paddVision{
  padding: 4.2em 1em;
}

.containerAboutUs2{
  background-color: var(--primaryColor);
  width: 56em;
  height: 47.6em;
  padding: .5em 1em 3.5em 1em;
  margin-bottom: 4em;
  display: flex;
  flex-direction: column;
  border-radius: 2em;
  transition: scale 200ms linear;
}

.containerAboutUs2:hover{
  scale: 105%;
  box-shadow: 0 0.25em 1.25em 0em rgba(0, 0, 0, 0.5);
}

.containerAboutUs2 h3{
  font-size: 3.5em;
  text-align: center;
  color: #fff;
  -webkit-text-stroke: .03em #000;
}

#Images{
  width: 100vw;
  height: 100em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerImages{
  position: relative;
  width: 90%;
  height: 90em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.containerImages div{
  width: 60%;
  height: 40%;
  margin: 1em;
  position: absolute;
}

.containerImages div a{
  background-color: var(--secondaryColor);
  color: #000;
  font-weight: bold;
  height: min-content;
  position: absolute;
  left: 30%;
  display: flex;
  align-self: center;
  font-size: 3em;
  padding: .25em 1em;
  border-radius:.4em;
}
.linkCatalogue{
  top: 42.5%;
}


.containerVolant {
  left: 2%;
  top: 33%;
  display: flex;
  justify-content: left;
}

.containerVolant::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5%;
  background-image: url(img/volante-exaicfes-s.a.s.png); /* Ajusta la ruta de la imagen */
  background-size: cover; /* Esta propiedad ajusta la imagen al tamaño del div */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center center; /* Centra la imagen en el div */
  filter: brightness(0.7); /* Reduces el brillo al 70% */
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.12);
}

.containerBrochure {
  left: 12%;
  top: 35%;
  display: flex;
  justify-content: left;
}

.containerBrochure::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5%;
  background-image: url(img/Folleto-ExaIcfesSAS.png); /* Ajusta la ruta de la imagen */
  background-size: cover; /* Esta propiedad ajusta la imagen al tamaño del div */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center center; /* Centra la imagen en el div */
  filter: brightness(0.7); /* Reduces el brillo al 70% */
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.12);
}

.containerCatalogue{
  left: 24%;
  top: 38%;
}

.containerCatalogue:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5%;
  background-image: url(img/catalogo-exaicfes-s.a.s.png); /* Ajusta la ruta de la imagen */
  background-size: cover; /* Esta propiedad ajusta la imagen al tamaño del div */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center center; /* Centra la imagen en el div */
  filter: brightness(0.7); /* Reduces el brillo al 70% */
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.12);
}

.containerPresentationCards{
  left: 35%;
  top: 41%;
  display: flex;
  justify-content: center;
  transition: scale 200ms linear;
}

.containerPresentationCards::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5%;
  background-image: url(img/tarjeta-exaicfes-s.a.s.png); /* Ajusta la ruta de la imagen */
  background-size: cover; /* Esta propiedad ajusta la imagen al tamaño del div */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center center; /* Centra la imagen en el div */
  filter: brightness(0.7); /* Reduces el brillo al 70% */
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.12);
}

.containerVolant h2{
  position: absolute;
  right: 2.5%;
  top: 101%;
  color: #fff;
  rotate: -90deg;
  padding: 0.2em 5.17em;
  text-align: left;
  font-size: 2.5em;
  background-color: blueviolet;
  border-radius: 0.5em 0.5em 0 0;
  filter: brightness(1 );
}

.containerBrochure h2{
  position: absolute;
  right: 2.66%;
  top: 101.5%;
  color: #fff;
  rotate: -90deg;
  padding: 0.2em 5.48em;
  text-align: left;
  font-size: 2.5em;
  background-color: blueviolet;
  border-radius: 0.5em 0.5em 0 0;
}

.containerCatalogue h2{
  position: absolute;
  right: 2%;
  top: 101%;
  color: #fff;
  rotate: -90deg;
  padding: 0.2em 4.85em;
  text-align: left;
  font-size: 2.5em;
  background-color: blueviolet;
  border-radius: 0.5em 0.5em 0 0;
}

.containerPresentationCards h2{
  color: rgb(255, 255, 255);
  text-align: center;
  padding: .5em 1.87em;
  font-size: 2em;
  height: fit-content;
  background-color: blueviolet;
  border-radius: 0.5em 0.5em 0 0;
  filter: brightness(1);

}

.containerVolant:hover{
  scale: 105%;
  animation: animImages 1s;
  z-index: 4;
}

.containerBrochure:hover{
  scale: 105%;
  animation: animImages 1s;
  z-index: 4;
}

.containerCatalogue:hover{
  scale: 105%;
  animation: animImages 1s;
  z-index: 4;
}

.containerPresentationCards:hover{
  scale: 105%;
}

@keyframes animImages{
  0%{
    transform: translateY(0em);
  }

  50%{
    transform: translateY(10em);
    }

  100%{
    transform: translateY(0em);
  }
}

footer{
  width: 100%;
  height: 60vw;
  margin-top: 3em;
  background-color: var(--primaryColor);
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.address{
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.address p{
  color: #fff;
  font-size: 2em;
  padding: 0 1em;
}

footer img{
  width: 5em;
}

iframe{
  position: relative;
  width: 300px;
  height: 300px;
  border: 0;
  margin: 1em;
  transition: scale 100ms linear;
  border-radius: 5%;
  filter: opacity(50%);
}

iframe:hover{
  scale: 105%;
  filter: opacity(100%);
}

.socialMedia{
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.socialMedia div{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.socialMedia a{
  width: 5em;
}

.socialMedia a img{
  width: 5em;
}